<footer>
	<div>
		<p>¿Quieres unirte a nosotros?</p>
		<p>síguenos</p>
		<a target="_blank" href="https://www.facebook.com/hkperuoficial/">
			<img src="" alt="facebook" />
		</a>
		<a target="_blank" href="https://www.linkedin.com/company/hk-per%C3%BA">
			<img src="" alt="link" />
		</a>
		<a target="_blank" href="https://www.instagram.com/hkperuoficial/?utm_medium=copy_link">
			<img src="" alt="ig" />
		</a>
	</div>
	<div>
		<p>© 2021 HK PERÚ| TODOS LOS DERECHOS RESERVADOS</p>
		<p>WEB DESIGN BY COSMO</p>
	</div>
</footer>
